@font-face {
  font-family: billabong;
  src: url("billabong-cufonfonts-webfont/Billabong.woff") format("woff");
}

.container-fluid {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.content {
  margin-left: 250px;
}

.dashboard {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1.5fr 2fr 6fr;
      grid-template-rows: 1fr 1fr 1.5fr 2fr 6fr;
  background-color: #EDF1F0;
  border-radius: 12px 0 0 12px;
  height: 100%;
  position: fixed;
  left: 0;
  width: 18.5%;
  min-width: 250px;
}

.dashboard__logo {
  position: relative;
  text-align: center;
  top: 10%;
}

.dashboard-logoText {
  font-family: billabong;
  font-size: 180%;
}

.fa-circle {
  color: #E1306C;
}

.dashboard__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dashboard__imageBorder {
  text-align: center;
  border-radius: 50%;
  border: 2px solid #F56040;
  width: 87px;
  height: 87px;
  padding: 4px;
}

.dashboard__image {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.dashboard__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: bold;
}

.dashboard__username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #B3BBB9;
}

.dashboard__details {
  text-align: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  font-size: 90%;
}

.dashboard__details--border {
  border-right: 1px solid #B3BBB9;
}

.dashboard__option {
  text-align: center;
}

.dashboard__options {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
}

.dashboard__options:hover {
  color: #E1306C;
}

.dashboard__options:active {
  color: #E1306C;
}

.dashboard__options--icon {
  font-size: 140%;
}

.dashboard__options--text {
  font-size: 110%;
}

.dashboard__options--number {
  color: #B3BBB9;
}

.content__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.content__search {
  padding-top: 4px;
  height: 30px;
  width: 210px;
  background-color: #EDF1F0;
  border-radius: 5px;
}

.content__search i {
  padding-right: 5px;
  font-size: 17px;
}

.content__button i {
  padding-right: 10px;
}

.content__btn {
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 130px;
  background-color: #E1306C;
}

.content__input {
  background-color: #EDF1F0;
  border: none;
}

.content__story h3 {
  font-weight: bold;
}

.content__stories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(90px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  gap: 10px;
  justify-items: center;
}

.content__stories div {
  text-align: center;
  border-radius: 50%;
  border: 2px solid #F56040;
  width: 87px;
  height: 87px;
  padding: 4px;
}

.content__stories div img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  -o-object-fit: cover;
     object-fit: cover;
}

.content__feed h3 {
  font-weight: bold;
}

.content__posts {
  -webkit-column-width: auto;
          column-width: auto;
  -webkit-column-count: 3;
          column-count: 3;
  text-align: center;
}

.content__posts div {
  display: -ms-inline-grid;
  display: inline-grid;
}

.content__post {
  width: 100%;
  border-radius: 5px;
}

.content__caption {
  float: left;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr 1fr;
      grid-template-columns: 3fr 1fr 1fr;
  padding-top: 5px;
  padding-bottom: 20px;
  width: 100%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  justify-items: end;
}

.content__caption div[role="name"] {
  font-weight: bold;
  margin-right: auto;
}
/*# sourceMappingURL=index.css.map */