$border-color1:#c13584;
$border-color2:#E1306C;
$border-color3:#F56040;
$border-color4:#F77737;
$text-color1:black;
$text-color2:#B3BBB9;
$text-color3:#E1306C;
$dashboard-color:#EDF1F0;
$content-color:white;

@font-face{
    font-family: billabong;
    src: url("billabong-cufonfonts-webfont/Billabong.woff") format('woff');
}


.container-fluid{
    position: relative;
    width: 97%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dashboard{
    display: grid;
    grid-template-rows: 1fr 1fr 1.5fr 2fr 6fr;
    background-color: $dashboard-color;
    border-radius: 12px 0 0 12px;
    height: 100%;
    position: fixed;
    width: 18.5%;
}

.dashboard__logo{
    position: relative;
    text-align: center;
    top: 10%;
    
}

.dashboard-logoText{
    font-family: billabong;
    font-size: 180%;
}

.fa-circle{
color: $border-color2;
}

.dashboard__profile{
    display: flex;
    justify-content: center;
}

.dashboard__imageBorder{
    text-align: center;
    border-radius: 50%;
    border:2px solid $border-color3;
    width: 87px;
    height: 87px;
    padding: 4px;
}

.dashboard__image{
    border-radius: 50%;
    width:75px; 
    height:75px;
}

.dashboard__name{
    display: flex;
    justify-content: center;
    font-weight: bold;
}

.dashboard__username{
    display: flex;
    justify-content: center;
    color: $text-color2;
}

.dashboard__details{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    font-size: 90%;
}

.dashboard__details--border{
   
    border-right: 1px solid $text-color2;
}

.dashboard__option{
    text-align: center;
}

.dashboard__options{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    &:hover{
     color: $text-color3;
    }
    &:active{
        color: $text-color3;
    }
}

.dashboard__options--icon{
    font-size: 140%;
}

.dashboard__options--text{
   font-size: 110%;

}

.dashboard__options--number{
    color: $text-color2;
}

.content{
    width: 100%;
  
    
}

.content__top{
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.content__search{
    padding-top: 4px;
    height: 30px;
    width: 210px;
    background-color: $dashboard-color;
    border-radius: 5px;
    i{
        padding-right: 5px;
        font-size: 17px;
    }
    
}

.content__button{
    i{
        padding-right: 10px;
    }
}

.content__btn{
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 130px;
    background-color: $border-color2;
}

.content__input{
    background-color: $dashboard-color;
    border: none;
}

.content__story{
    padding-left: 5%;
    h3{
        font-weight: bold;
    }
}

.content__stories{
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

 div{
    text-align: center;
    border-radius: 50%;
    border:2px solid $border-color3;
    width: 87px;
    height: 87px;
    padding: 4px;   
    img{
        border-radius: 50%;
    width: 75px; 
    height:75px;
    }
 }
}

.content__feed{
    padding-left: 5%;
    h3{
        font-weight: bold;
    }
}

.content__posts{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

.content__post{
    width: 290px;
    height: 320px;
    border-radius: 5px;
}

.content__caption{
    float: left;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    padding-top: 5px;
    padding-bottom: 20px;
    div[role="name"]{
        font-weight: bold;
    }
}